[submodule "thirdparty/boost-local"]
	path = thirdparty/boost-local
	url = https://github.com/abhishekudupa/boost-local.git
[submodule "thirdparty/z3-4.3.1"]
	path = thirdparty/z3-4.3.1
	url = https://github.com/abhishekudupa/z3-4.3.1.git
[submodule "thirdparty/z3-4.3.2"]
	path = thirdparty/z3-4.3.2
	url = https://github.com/abhishekudupa/z3-4.3.2.git
