[submodule "src/z3-4.3.1"]
	path = src/z3-4.3.1
	url = acggrid01.seas.upenn.edu:/mnt/eclipse/acg/users/audupa/work/gitroot/z3-4.3.1.git
[submodule "src/boost-local"]
	path = src/boost-local
	url = acggrid01.seas.upenn.edu:/mnt/eclipse/acg/users/audupa/work/gitroot/boost-local
