[submodule "src/z3-4.3.1"]
	path = src/extern/z3-4.3.1
	url = acggrid01.seas.upenn.edu:/mnt/eclipse/acg/users/audupa/work/gitroot/z3-4.3.1.git
[submodule "src/boost-local"]
	path = src/extern/boost-local
	url = acggrid01.seas.upenn.edu:/mnt/eclipse/acg/users/audupa/work/gitroot/boost-local
[submodule "thirdparty/boost-local"]
	path = thirdparty/boost-local
	url = acggrid01.seas.upenn.edu:/home1/a/audupa/work/gitroot/boost-local
[submodule "thirdparty/z3"]
	path = thirdparty/z3
	url = acggrid01.seas.upenn.edu:/home1/a/audupa/work/gitroot/z3-4.3.2.git
